.testi {
    background-color: rgb(0, 0, 0);
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    padding:25px;
    border-radius: 15px;
    margin:25px;
    position:relative;
    bottom:0;
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.622);
}

.testi:hover {
    bottom: 10px;

}

.t1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
    border-bottom: solid 4.5px;
    /* make bottom border a gradient from blue to purple */
    border-image: linear-gradient(to right, #0000ff, #ff00ff) 1;
}

.pfp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 4px solid white;
    overflow: hidden;
    object-fit:cover;
}

.t2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.stars {
    color: rgb(246, 246, 118)
}