@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  --brand-primary: rgb(47, 112, 193);
  --brand-secondary: rgb(116, 97, 195);
  --brand-alternative: rgb(19, 120, 134);
  --background-site: rgb(249, 249, 249);
  --background-code: rgb(244, 244, 244);
  --text-body: rgb(54, 49, 61);
  --text-comment: rgb(99, 94, 105);
  --text-high-contrast: rgb(49, 49, 49);
  --text-medium-contrast: rgb(99, 94, 105);
  --text-low-contrast: rgb(116, 109, 118);
  --detail-high-contrast: rgb(192, 192, 192);
  --detail-medium-contrast: rgb(234, 234, 234);
  --detail-low-contrast: rgb(240, 240, 242);
  --admonition-note: rgb(46, 109, 188);
  --admonition-warning: rgb(255, 196, 9);
  --admonition-danger: rgb(220, 38, 38);
  --brand-primary-rgb-value: 47, 112, 193;
  --brand-secondary-rgb-value: 116, 97, 195;
  --brand-alternative-rgb-value: 19, 120, 134;
  --background-site-rgb-value: 249, 249, 249;
  --background-code-rgb-value: 244, 244, 244;
  --text-body-rgb-value: 54, 49, 61;
  --text-comment-rgb-value: 99, 94, 105;
  --text-high-contrast-rgb-value: 49, 49, 49;
  --text-medium-contrast-rgb-value: 99, 94, 105;
  --text-low-contrast-rgb-value: 116, 109, 118;
  --detail-high-contrast-rgb-value: 192, 192, 192;
  --detail-medium-contrast-rgb-value: 234, 234, 234;
  --detail-low-contrast-rgb-value: 240, 240, 242;
  --admonition-note-rgb-value: 46, 109, 188;
  --admonition-warning-rgb-value: 255, 196, 9;
  --admonition-danger-rgb-value: 220, 38, 38;
}

main {
  text-align: left;
/*   vertical-align: left; */
/*   line-height: 100vh */
  font-size: 2rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  padding:0;
}

body {
  padding:0;
  margin:0;
  /* background-color: white; */
  /* gradient from #163727 to #869870  up to down*/
  /* background: linear-gradient(180deg, #163727 0%, #869870 100%); */

}

a,
.green {
  text-decoration: none;
  color: hsla(238, 100%, 44%, 0.78);
/*   hsla(238, 100%, 44%, 0.78) */
  transition: 0.4s;
  border-radius: 0px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(238, 100%, 44%, 0.3);
    border-radius: 5px
  }
}

nav {
  height: 5%;
}

.section {
  width:100%;
  /* background-color: red; */
  height: 100vh;
  /* background-image: url("https://github.com/amukh1/WebmasterTSA/blob/main/src/veggie.png?raw=true"); */
  background-size:cover;
  background-repeat: no-repeat;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* .embla {  overflow: hidden;}.embla__container {  display: flex;}.embla__slide {  flex: 0 0 100%;  min-width: 0;} */

.embla {
  max-width: 70rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  padding:5px;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  margin:5px;
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
  margin:25px;
  overflow:hidden;
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}

.slideimg {
  object-fit: cover;
  width: 100%;
  height:100%;
}

.location {
  display:flex;
  flex-direction: column;
  justify-content: start;
}

.testimonials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.land {
  background-image: url('https://i.ibb.co/5WCMM4F/Vegan-food.jpg');
}

.map {
  border: solid 10px black;
  margin-top:10px;
}

.slidefood {
  display:flex;
  flex-direction:column;
}

.menu-container {
  padding: 20px;
  background-color: #f8f8f8;
  color: #333;
}

h1, h2 {
  text-align: center;
  color: #444;
}

.menu-section {
  margin-bottom: 40px;
}

.menu-items {
  display: flex;
  flex-direction: row;
  /* gap: 10px; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* space between */
  justify-content: space-around;
}

.menu-item {
  position: relative;
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s ease;
  height:min-content;
  /* width: min-content; */
  width: 20%;
}

.ti0 {
  transform:rotate(2.5deg);
}

.ti1 {
  transform:rotate(-2.5deg);
}

.menu-item:hover {
  background: #f1f1f1;
  transform: rotate(0deg);
}

.menu-name {
  font-weight: bold;
  margin: 0;
}

.menu-description {
  margin-top: 5px;
  font-size: 0.9rem;
  color: #555;
  line-height: 1.4;
}

.menu-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}