@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

main {
  text-align: left;
/*   vertical-align: left; */
/*   line-height: 100vh */
  font-size: 2rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  padding:0;
}

body {
  padding:0;
  margin:0;
  background-color: #F5F1E7;
}

a,
.green {
  text-decoration: none;
  color: hsla(238, 100%, 44%, 0.78);
/*   hsla(238, 100%, 44%, 0.78) */
  transition: 0.4s;
  border-radius: 0px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(238, 100%, 44%, 0.3);
    border-radius: 5px
  }
}

nav {
  height: 5%;
}

.landing {
  width:100%;
  /* background-color: red; */
  height: calc(87.5vh - 40px);
  background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTgfjx-_exPt9OeXtAIkN6w4kWH7L7gzlOA7xGASCeoNtrtgaLQ");
  background-size:cover;
  background-repeat: no-repeat;

}