@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.bar {
  background-color: white;
  /* margin: 0; */
  /* width: 100%; */
  /* padding: 20px; */
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 12.5vh;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  font-size: 1.9rem;
  /* position: fixed; */
  /* box-sizing: border-box; */
}


button {
  border:none;
  border-radius: 15px;
  width:45%;
  font-size: 1rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  /* background-color: #A9C3A5; */
  background-color: white;
}

img {
  /* height: 7.5%; */
  /* width: 7.5%; */
  width:6rem;
}

